<div id="all-filters" class="mb-4">

  <div class="form-check-reverse form-switch   tax-switch me-auto">
    <label class="form-check-label" for="flexSwitchCheckDefault">Display Price<br>after Taxes</label>
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  </div>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/trending" method="get">
    <div class="a-filter first-filter">
      <i class="fa-solid fa-fire"></i>
      <p class="text">Trending</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/room" method="get">
    <div class="a-filter">
      <i class="fa-solid fa-bed"></i>
      <p class="text">Rooms</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/camping" method="get">
    <div class="a-filter">
      <i class="fa-solid fa-tents"></i>
      <p class="text">Camping</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/castle" method="get">
    <div class="a-filter">
      <i class="fa-brands fa-fort-awesome"></i>
      <p class="text">Castles</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/farm" method="get">
    <div class="a-filter">
      <i class="fa-solid fa-cow"></i>
      <p class="text">Farms</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/beach" method="get">
    <div class="a-filter">
      <i class="fa-solid fa-umbrella-beach"></i>
      <p class="text">Beach</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/pool" method="get">
    <div class="a-filter">
      <i class="fa-solid fa-water-ladder"></i>
      <p class="text">Pools</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/ski" method="get">
    <div class="a-filter">
      <i class="fa-solid fa-person-skiing"></i>
      <p class="text">Ski-in/out</p>
    </div>
  </a>

  <a class="a-filter-anchor" href="http://localhost:8080/listings/filter/arctic" method="get">
    <div class="a-filter">
      <i class="fa-solid fa-snowflake"></i>
      <p class="text">Arctic</p>
    </div>
  </a>

</div>