<footer>
  <div class="f-all-social-icons">
    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook  f-fb"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram  f-ig"></i></a>
    <a href="https://www.linkedin.com/home" target="_blank"><i class="fa-brands fa-linkedin  f-ln"></i></a>
  </div>
  <p class="f-brand-info">
    &copy; Travelcove private limited
  </p>
  <div class="f-all-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
</footer>
