<% layout("/layouts/boilerplate.ejs") %>
<div class="container no-lis-mat-container mt-5">
  
  <i class="fa-regular fa-face-sad-tear no-lis-mat-sad-face"></i>
  <p class="no-lis-mat-p"><%= message %></p>
</div>
