<% layout("/layouts/boilerplate.ejs") %>

<div class="container my-5">
  <div class="row justify-content-center border-primary">

    <form action="http://localhost:3000/signup" method="post" class="col-9 needs-validation" novalidate>

      <h3 class="mb-4">
        SignUp on Wanderlust
      </h3>

      <div class="mb-3">
        <label for="un" class="form-label">Enter a Username</label>
        <input type="text" name="username" placeholder="Username" id="un" class="form-control" required>
        <div class="invalid-feedback">Please enter a Username</div>
      </div>

      <div class="mb-3">
        <label for="eml" class="form-label">Enter your Email</label>
        <input type="text" name="email" placeholder="Email" id="eml" class="form-control" required>
        <div class="invalid-feedback">Please enter Your Email</div>
      </div>

      <div class="mb-4">
        <label for="pw" class="form-label">Set a Password</label>
        <input type="password" name="password" placeholder="Password" id="pwd" class="form-control" required>
        <div class="invalid-feedback">Please Set a Password</div>
      </div>

      <button class="btn btn-success">
        SignUp
      </button>

    </form>

  </div>
</div>

<br> <br>
